
#logo{
    height: 40px;
    width: 40px;
    margin-left: 0px;
    margin-top: 0px;
}

#txt-logo{
    color: #943966;
    font-family: ABeeZee;
    font-size: x-large;
    margin: 0px;
    position: relative;
    margin-left: -250px;
}

#search{
    width: 100%;
}

.center-buscar{
    margin-right: 20%;
}

.width-search{
  width: 400px;
}

@media (max-width: 572px) {

    .center-buscar{
        margin-right: auto;
        margin-left: 30%;
    }
    #txt-logo{
        color: #943966;
        font-family: ABeeZee;
        font-size: x-large;
        margin: 0px;
        position: relative;
    }
    #logo{
        height: 50px;
        width: 50px;
        position: relative;
        margin-bottom: 10px;
        margin-right: 10%;
        margin-top: 0px;
    }
  }
  