.fila{
    background-color: #333333;
    align-items: center;
    
}
.logoBarra3{
    margin: 10px;
    height: 50px;
}
.barraBusqueda{
    border-radius: 50px;
    padding: 10px;
    width: 500px;
    height: 35px;
    
}
.cBarraBusqueda{
    text-align: center;
}
.tarjeta{
    text-align: center;
    background-color: #669966;
    border: none;
    margin: 20px;
    padding: 10px;
    width: 120px;
    box-shadow: 1px 1px 6px rgb(44, 44, 44);
}
.tarjeta:hover{
    box-shadow: 4px 4px 10px rgb(92, 92, 92);
   
}
.textb{
    color: white;
}
.tituloNotas{
    color: white;
    text-align: center;
    background-color: #669966;
    border-radius: 50px;
    padding-top: 5px;
    margin :10px;
    margin-bottom: 0px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    position: relative;
    z-index: 1;
}
.notas{
    background-color: white;
    box-shadow: 1px 1px 5px rgb(138, 137, 137);
    color: #996699;
    margin :15px;
    margin-top: 0px;
    padding-top: 10px;
    
}
.barra{
    border-radius: 50px;
    margin-top: 100px;
    text-align: center;
    margin-left: -20px;
    background-color: #996699;
}
.tituloM{
    margin-top: 10px;
}
.imgb{
    margin: 0px;
    margin-right: 15px;
}

.bToolbar{
    background-color: black;
    color: rgb(255, 255, 255);
    border-color: transparent;
    width: 100%;
    box-shadow:none;
    margin: 0px;
}
#lToolbar{
    margin-top: -80px;
    height: 150px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}