@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(img/lookin.jpg) no-repeat fixed center center #333;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#barra1{
  background-color: white;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  border-radius: 50px;
  position: relative;
  top: -140px;
}
#imglogo1{
  z-index: 2;
}
#txtLogo{
  color: #993366;
  font-family: ABeeZee;
  font-size: xxx-large;
  margin: 0px;
  padding-left: 200px;
}
#botonera1{
  align-self: center;
  align-items: flex-end;
}
#br{
  background-color: #993366 ;
  color: white;
  border-radius: 50px;
  margin-left:20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#br:hover{
  background-color: #b94a82 ;
  color: white;
}
#bis{
  background-color: #993366 ;
  color: white;
  border-radius: 50px;
  margin-left:20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#bis:hover{
  background-color: #b94a82 ;
  color: white;
}
#barra2{
  background-color: #333333;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  border-radius: 50px;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  top: -70px;
}
#imglogo2{
  margin: 5px;
  width: 50px;
}
#botonera2{
  align-self: center;
  align-items: flex-end;
}
.vinculo{
  color: #FFCC00;
}
.vinculo:hover{
  text-decoration: none;
  color: #ffffff;
}
#contenido{
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  top: -50px;
}
.cards{
  align-self: center;
  
}
.card2{
  margin-top: 5px;
}

#footer{
  background-color: #333333;
  height: 50px;
}

@media (max-width: 1570px) {
  .cards1{
    height: 200px;
    overflow: scroll;
  }
}

@media (max-width: 1270px) {
  .cards1{
    height: 150px;
    overflow: scroll;
  }
}