#barra2{
    background-color: #333333;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    border-radius: 50px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    top: -70px;
}
#imglogo2{
    margin: 5px;
    width: 50px;
}
#botonera2{
    align-self: center;
    align-items: flex-end;
}
.vinculo{
    color: #FFCC00;
}
.vinculo:hover{
    text-decoration: none;
    color: #ffffff;
}