#bloque2{
    background-color: #669966;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 50px;
    padding: 100px;
    position: relative;
    top: -100px;
}
#imgAvatar{
    text-align: center;
}
.formulario{
    text-align: center;
    margin: 15px;
}
.form-control{
    background-color: white;
    border-radius: 50px;
    padding-left: 10px;
}
.form-control:enabled{
    background-color: white;
}
.btn:hover{
    background-color: #ffffff;
}
#registerButton{
    background-color: #FFCC00;
    border-radius: 50px;
    width: 100%;
    margin: 0%;
}
.select{
    vertical-align: center;
    border-radius: 50px;
    padding-left: 10px;
    height: 50px;
}
