.container{
    padding-left: 14%;
    padding-right: 14%;
    padding-top: 0px;
}

.subtitle{
  color: rgb(37, 35, 35);
  font-family: Roboto;
  margin-top: 5%;
  margin-left: 5%;
}

.cardtitle{
    color: rgb(236, 230, 230);
    font-family: Roboto;
    padding-left: 25%;
  }

.card-deck .course{
    background: #669966;
    align-items: center;
    width: 20%;
    max-width: 10%;
    margin-top: 4%;
    min-width: 15%;
    margin-right: 5%;
}

.card-deck .course:hover{
    background: rgb(14, 107, 18);
    cursor: pointer;
	transform: translateY(15px); 
}

.card-title{
    font-size: 56px;
    font-style: inherit;
    justify-content: center;
}

div .card-title{
    align-items: center;
}

#bis2{
  background-color: #993366 ;
  color: white;
  border-radius: 50px;
  margin-left:75%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 992px) {
 
    .card-deck .course{
        background: #669966;
       padding-top: 5%;
        padding-left: 8%;
        padding-right: 8%;
        align-items: center;
        min-width: 25%;
        border-radius: 2%;
    }

  }

  @media screen and (max-width: 650px){
      
    .card-deck .course{
        padding-right: 8%;
        margin-right: 20%;
        margin-bottom: 8%;
        align-items: center;        
        min-width: 25%;
    }

    .container{
        margin-left: 10%;
    }
    
}

@media screen and (max-width: 570px){
    
    .card-deck .course{
         min-width: 50%;
     }

    .container{
        margin-left: 20%;
    }
    
}